<launch>


  <!-- for object localisation-->
  <node name="postgresql_node" pkg="object_localisation" type="postgresql_node.py" respawn="false" output="screen">
  </node>
 
  <node name="object_ros_publisher" pkg="object_localisation" type="object_ros_publisher.py" respawn="false" output="screen">
  </node>
  
  <node name="gui" pkg="gui" type="gui.py" respawn="false" output="screen">
  </node>
    
<!--for camera calibration-->
<!--
 <node name="test_location" pkg="object_localisation" type="test_camera_params.py" respawn="false" output="screen">
  </node>
  
   <include file="$(find realsense2_camera)/launch/rs_aligned_depth.launch">
  </include>
-->

<node pkg="tf" type="static_transform_publisher" name="camera_frame_broadcaster"
      args="-0.035 -0.0795005 0.0827469 -0.00521848 -0.00502728 0.00248873 0.999971 wrist_3_link camera_color_optical_frame 100" />
</launch>
