<launch>

  <!-- By default, we are not in debug mode -->
  <arg name="test_mode" default="false" />
  <arg name="task" default="assemble_complex_box" />
  <arg name="classifier" default="one" />

  <node name="postgresql_node" pkg="object_localisation" type="postgresql_node.py" respawn="false" output="screen">
  </node>

  <node name="object_ros_publisher" pkg="object_localisation" type="object_ros_publisher.py" respawn="false" output="screen">
  </node>

  <node pkg="tf" type="static_transform_publisher" name="camera_frame_broadcaster" args="0.065 0.037 0.082 0 0 0 1 ee_link camera_frame 100" />


</launch>
